.dashboard {
    background-color: rgb(143, 109, 109);
    height: 2fr;
    color: white;
    cursor: pointer;
  }
  .dashboard-menu {
    list-style: none;
    margin-top: 10px;
  }
  .dashboard-menu:hover {
   background-color:rgb(243, 93, 38);
   border: none;
   color: white;
  }