.MenuBar-container{
    background-color:  rgb(63, 60, 60);
}
.items {
    list-style: none;
    font-size: 20px;
    font-weight: 500;
    color: black;
    margin-right: 10px;
    cursor: pointer;
    padding: 5px;
    text-decoration: none;
  }
  .items:hover {
    color: rgb(252, 242, 242);
  }
  .explore  {
    background-color: rgba(255, 68, 0, 0.637) ;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 10px 10px;
    color: white;
    text-align: center;
  }
  